.comments_info {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.comments_toggle {
  all: unset;
  cursor: pointer;
}

.comments_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
