.modal_wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 10px;
  background-color: white;
  color: black;
}

.modal_title {
  text-align: center;
  margin-bottom: 5px;
}

.modal_content {
  font-size: 20px;
  padding: 20px;
  margin-bottom: 5px;
}
